body{

font-family : Arial;
font-size : 10px;
text-align : center;
color : white;
background-color : #444444;
    
}

h1{
    color : orange;
    text-align: center;
    font-size : 20px 
    
}

h2{
    color : orange;
    text-align: center;
    font-size : 15px 
    
}